@{
    ViewBag.Title = "Contact";
}

<address>
    1716 32 ST SW<br />
    Calgary,T3C 1N5<br />
    <abbr title="Phone">Tel:</abbr>
    4038183581
</address>

<address>
    <strong>Email:</strong> <a href="mailto:12070132@qq.com">12070132@qq.com</a>
</address>
