@{
    ViewBag.Title = "Contact";
}

<address>
   
    <abbr title="Phone"><strong>Tel:</strong></abbr>
    4038183581
</address>

<address>
    <strong>Email:</strong> <a href="mailto:12070132@qq.com">12070132@qq.com</a>
</address>
