@model SmartTrip.Models.ScheduleViewModel
    
@{
    ViewBag.Title = "Schedule - Select Sceneries";
    
}
   



@using (Html.BeginForm("AddScenery", "Trip",  FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken();


    <table id="ScheduleScenery">

            @for (int i=0; i< Model.Sceneries.Count; i++)
            {
                <tr>
                    <td>

                        @Html.HiddenFor(x=>x.CheckedSceneries[i].SceneryId)
                        <img title=@Model.Sceneries[i].SceneryName src=@Url.Content("~/images/"+Model.Sceneries[i].ImageUrl) width="180"/>

                    </td>
                    
                    <td >
                        
                        <div class="checkbox checkbox-material-teal-500">
                             <label>
                        @Html.CheckBoxFor(x => x.CheckedSceneries[i].Checked, new { id = Model.Sceneries[i].Id })
                             </label>
                         </div>

                     </td>
                </tr>
            }



    </table>

        <input type="submit" name="btnNext" value="next" class="btn btn-material-teal-500" />
}




<script type="text/javascript">
		$(document).ready(function()
		{

		    $.material.init()
		    
		});
</script>