@model SmartTrip.Models.Trip

@{
    ViewBag.Title = "Delete a trip";
}

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">


            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">

                    <img alt="@Model.TripName" src="@Url.Content("~/images/"+Model.ImageUrl)" />
                    <div class="label label-default label-material-teal-500 "> @Model.TripName </div>

                </div>
                <input type="submit" value="Delete" class="btn btn-flat btn-raised btn-material-teal-500" />

            </div>

        </div>
    </fieldset>
}
