@model SmartTrip.Models.Trip

@{
    ViewBag.Title = "Edit a Trip";
}

@using (Html.BeginForm("Edit","Trip",FormMethod.Post))
{
   @Html.AntiForgeryToken();

    <div class="form-group">
        @Html.LabelFor(x => x.TripName)
        @Html.EditorFor(x => x.TripName)
    </div>

     

        <input type="submit" value="submit" class="btn btn-default" />
}

