@{
    ViewBag.Title = "Trip Index";
}

<div class="jumbotron">
    <h1>Trip</h1>
</div>
@* Markup removed for brevity *@
<div class="row">
    <div class="col-md-4">
        @if (Model.Count == 0)
        {
            <h4>No Trip Items</h4>
        }
        else
        {
            <table>
                <tr><th>Trip</th><th></th></tr>
                @foreach (var trip in Model)
                {
                    <tr>
                        <td>@trip.TripName </td>
                        <td>
                            @Html.ActionLink("Schedules", "TripSchedule", "Trip", new { id = trip.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Trip", new { id = trip.Id })
                        </td>
                    </tr>
                }
            </table>
        }
        <div>@Html.ActionLink("Create New Trip", "TripStartTime", "Trip") </div>
    </div>

    
</div>