@model SmartTrip.Models.ScheduleViewModel
    
@{
    ViewBag.Title = "Schedule - Select Cities";
    
}
   
<h2>Select Cities</h2>


@using (Html.BeginForm("ScheduleCity", "Trip",  FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken();


    <table id="ScheduleCity">

            @for (int i=0; i< Model.Cities.Count; i++)
            {
                <tr>
                    <td>

                        @Html.HiddenFor(x=>x.CheckedCities[i].CityId)
                        <img alt=@Model.Cities[i].CityName src=@Url.Content("~/images/"+Model.Cities[i].ImageUrl) width="180"/>

                    </td>
                    
                    <td >
                        
                        <div class="checkbox checkbox-material-green-900">
                             <label>
                        @Html.CheckBoxFor(x => x.CheckedCities[i].Checked, new { id = Model.Cities[i].Id })
                             </label>
                         </div>

                     </td>
                </tr>
            }



    </table>

        <input type="submit" name="btnNext" value="next" class="btn btn-material-green-900" />
}




<script type="text/javascript">
		$(document).ready(function()
		{

		    $.material.init()
		    
		});
</script>