@model SmartTrip.Models.TripViewModel
@{
    ViewBag.Title = "Trip Country";
}


<div class="row">
    
        @if (Model.Countries.Count == 0)
        {
            <h4>No Country Items</h4>
        }
        else
        {
            
                @foreach (var country in Model.Countries)
                {
                    <div class=" col-md-4 ">
                        <div >
                            <a  href='@Url.Action("TripCity","Trip",new {id = country.Id })'>
                            
                             <img width="260" title="@country.CountryName" src="@Url.Content("~/images/"+country.ImageUrl)">
                            </a>

                        </div>
                    </div>

                }

        }

                   

</div>