@model SmartTrip.Models.TripViewModel
    
@{
    ViewBag.Title = "Set Order and Days";
    
}
   
@using (Html.BeginForm("TripOrderDays","Trip",  FormMethod.Post,new {@class="form-horizontal"}))
{
        @Html.AntiForgeryToken();

    
        <ol id="TripList" class="list-group" >

            @for (int i=0; i <  Model.Cities.Count; i++)
            {
              <li  class="list-group-item" >

                 
                  @Html.DisplayFor(m => m.Cities[i].CityName)
                 
           
                 

                      @Html.LabelFor(m => m.Cities[i].Days, new { @for = Model.Cities[i].Id })
                 

          

                      @Html.TextBoxFor(m => m.Cities[i].Days, new { @id = Model.Cities[i].Id  })

                 

                      <div  class="slider shor@(Model.Cities[i].Id)  slider-material-green-900"></div>
                 

               </li>
            
            }

        </ol>

        <input type="submit" value="submit" class="btn btn-material-green-900" />

}
  
  <script type="text/javascript">

      $(function () {
          $.material.init();

          @for (int i = 0; i < Model.Cities.Count; i++)
         {

         <text>
               

          $(".shor@(Model.Cities[i].Id)").noUiSlider({
                        start: 3,
                        step:1,
                        range: {
                            min: 0,
                           
                            max: 365
                        }
                    });

          $(".shor@(Model.Cities[i].Id)").Link("lower").to($("#@(Model.Cities[i].Id)"));
         </text>
          }


          Sortable.create(TripList, {});
          
            });

  </script>

