@model SmartTrip.Models.TripViewModel
    
@{
    ViewBag.Title = "Set Order and Days";
    
}
   
@using (Html.BeginForm("TripOrderDays","Trip",  FormMethod.Post))
{
        @Html.AntiForgeryToken();

    
        <ul >

            @for (int i=0; i <  Model.Cities.Count; i++)
            {
              <li >
                  @Html.LabelFor(m => m.Cities[i].CityName)

                  <p>
                  @Html.LabelFor(m=>m.Cities[i].Days,new { @for=Model.Cities[i].Id })

                  @Html.TextBoxFor(m=>m.Cities[i].Days,new { @id=Model.Cities[i].Id ,@class="days" })
                   </p>

                  <div class="slider shor slider-material-blue-900" ></div>
               </li>
            
            }

        </ul>

        <input type="submit" value="submit" class="btn btn-default" />

}

  <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script> 
  <script type="text/javascript">

            $(function () {
                $.material.init();
                var slider = $(".shor");
                var input = $(".days");

                    slider.noUiSlider({
                        start: 3,
                        connect: "lower",
                        range: {
                            min: 0,
                            max: 365
                        }
                    });

                    slider.Link("lower").to(input);



            });

  </script>

