@model SmartTrip.Models.TripViewModel
    
@{
    ViewBag.Title = "Trip - Select  StartTime";
    
}

<h2> Select start date</h2>
   
@using (Html.BeginForm("TripStartTime", "Trip",  FormMethod.Post,new{ @class="form-horizontal"}))
{

   
        @Html.AntiForgeryToken();
   

         <div class="form-group input-group-sm">

            
            @Html.TextBoxFor(x => x.Trip.StartTime, new{ placeholder="Start Date", @class="form-control foating-label", @id = "startDate", @type = "text" })
       </div>

<div class="form-group">

    <input type="submit" name="btnNext" value="next" class="btn btn-material-green-900" />
</div>
}



<script type="text/javascript">
		$(document).ready(function()
		{
			$('#startDate').bootstrapMaterialDatePicker
			({
				time: false
			});
			
		
			$.material.init()
		});
</script>


