@model SmartTrip.Models.TripViewModel
@{
    ViewBag.Title = "Trip Country";
}

<div class="jumbotron">
    <h1>Trip Country</h1>
</div>
@* Markup removed for brevity *@
<div class="row">
    <div class="col-md-4">
        @if (Model.Countries.Count == 0)
        {
            <h4>No Country Items</h4>
        }
        else
        {
            <table>
                <tr><th>Country</th><th></th></tr>
                @foreach (var country in Model.Countries)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("TripCity","Trip",new {id = country.Id })'>
                                <img alt= @country.CountryName  src="@Url.Content("~/images/"+country.ImageUrl)"  width="180" />
                            </a> 
                        </td> 
                     </tr>
                }
            </table>
        }
        
    </div>

</div>