@model SmartTrip.Models.Scenery

@{
    ViewBag.Title = "Delete a scenery";
}

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">


            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">

                    <img alt="@Model.SceneryName" src="@Url.Content("~/images/"+Model.ImageUrl)" />
                    <div class="label label-default label-material-green-900 "> @Model.SceneryName </div>

                </div>
                <input type="submit" value="Delete" class="btn btn-flat btn-raised btn-material-green-900" />

            </div>

        </div>
    </fieldset>
}


