@{
    ViewBag.Title = "Scenery Index";
}

@if (Model.Count == 0)
{

    <h4>No Scenery Items</h4>

}
else
{

    <div class="row">
        @foreach (var scenery in Model)
                {

            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">

                    <img alt="@scenery.SceneryName" src="@Url.Content("~/images/"+scenery.ImageUrl)" />
                    <div class="label label-default label-material-green-900 "> @scenery.SceneryName</div>

                    <a href="/Scenery/Edit/@scenery.Id" class="btn btn-xs btn-sm btn-material-green-900 btn-fab btn-flat btn-raised mdi-content-create "></a>
                    <a href="/Scenery/Delete/@scenery.Id" class="btn btn-xs btn-material-green-900 btn-fab btn-flat btn-raised mdi-content-clear "></a>
                    <a href="/Scenery/Create/" class=" btn btn-xs btn-material-green-900 btn-fab btn-flat btn-raised mdi-content-add"> </a>

                </div>
            </div>

        }
    </div>
}
